*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --input-border-color: #006eff;
  --btn-color: #ffffff;
  --delete-color: #ff0000;
  --edit-color: #008000;
}

.container {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
}

.form {
  margin: 0 auto 0 auto;
  width: 50%;
  display: flex;
  align-items: center;
}

.title {
  color: var(--input-border-color);
  font-family: sans-serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  margin: 100px auto 20px auto;
}

.form__input {
  width: 100%;
  letter-spacing: 0.2px;
  text-indent: 15px;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  border: 1px solid var(--input-border-color);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  color: var(--input-border-color);
}

.form__input::placeholder {
  color: var(--input-border-color);
}

.form__submit {
  background-color: var(--input-border-color);
  border: 1px solid var(--input-border-color);
  outline: none;
  color: var(--btn-color);
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  padding: 10px 20px;
}

.form__submit .fa-plus {
  font-size: 17px;
}

.form__submit:hover {
  background-color: transparent;
  color: var(--input-border-color);
}
.list {
  margin: 0 auto;
  width: 50%;
  height: 270px;
  overflow-y: auto;
}

.list::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1;

}

::-webkit-scrollbar-thumb {
  background-color: var(--input-border-color);
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 1px solid var(--input-border-color);
  padding: 10px;
}

.list-item-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.list-item-box > .fa-pen {
  color: var(--edit-color);
  cursor: pointer;
  font-size: 20px;
}

.list-item-box > .fa-trash {
  color: var(--delete-color);
  cursor: pointer;
  font-size: 20px;
}

.list-item-box__title {
  color: var(--input-border-color);
  font-size: 20px;
  font-family: sans-serif;
}

@media only screen and (max-width: 700px) {
  .form,
  .form-label {
    width: 75%;
  }
  .list{
    width: 75%;
  }
}

@media only screen and (max-width: 550px) {
  .form,
  .form-label {
    width: 95%;
  }
  .list {
    width: 95%;
  }
}
